<div class="contact-footer">
    <div class="contact-services">
        <div class="what-i-do">
            <h1>Meus contatos</h1>
            <div class="line"></div>
        </div>
        <div class="contact-group">
            <div class="contact-container">
                <div class="contacts-home">
                    <div class="i">
                        <i class="fa-solid fa-crop"></i>
                        <h3>E-mail: </h3>
                    </div>
                    <p>gustagui.dev@gmail.com</p>
                </div>            
            </div>
            <div class="contact-container">
                <div class="contacts-home">
                    <div class="i">
                        <i class="fa-solid fa-crop"></i>
                        <h3>WhatsApp:</h3>
                    </div>
                    <p>(11) 9 8274 3057</p>
                </div>            
            </div>
            <div class="contact-container">
                <div class="contacts-home">
                    <div class="i">
                        <i class="fa-solid fa-crop"></i>
                        <h3>LinkedIn:</h3>
                    </div>
                    <p>
                        <a target="_blank" href="https://www.linkedin.com/in/gustavo-silva-28016677/">Gustavo Silva</a>
                    </p>
                </div>            
            </div>
        </div>
    </div>
</div>

