  <header>
    <div class="links-header">
      <a class="link-header" href="/home">Sobre mim</a>
      <a class="link-header" href="/Projects">Projetos</a>
      <a class="link-header" href="/Work">Trabalho</a>
      <a class="link-header" href="/Education">Educação</a>
    </div>
  </header>