<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/home.css" rel="stylesheet" />
    <title>Gustavo Portfolio | HOME</title>
</head>
<body>
     
        <header> 
        
            <img id="bg" src="/images/montain.jpg" alt="bg-montain"> 
            <img id="menu-icon" src="/images/menu-aberto.png" alt="menu">   
            <aside>   
                <a href="/home"><h1>Gustavo Silva</h1></a>        
                <div class="menu">
                    <a href="/home">Inicio</a>
                    <a href="/about">Sobre mim</a>
                    <a href="/service">Serviços</a>
                    <a href="/portfolio">Portfolio</a>
                    <a href="/blog">Blog</a>
                    <a href="/contact">Contact</a>
                    <a id="contact" href="/">Contate-me</a>
                </div>
            </aside>

            <div class="show">
                <img id="photo" src="/images/gustavo silva.jpg" alt="photo">
                <h1>Gustavo Silva</h1>
                <p>Desenvolvedor web e Design</small>
            </div>
    
        </header>