  <header>
    <div class="links-header">
      <a href="/">Sobre mim</a>
      <a href="/Projects">Projetos</a>
      <a href="/Work">Trabalho</a>
      <a href="/Education">Educação</a>
    </div>
    <div id="mobile-header">
      <button>
        menu
      </button>
    </div>
  </header>