<main>
    
    
    <div class="about-container">
        <img id="photo-2" src="/images/gustavo silva.jpg" alt="photo">
        <div class="about">
            <h3>Discover</h3>
            <h1>Sobre mim</h1>
            <p>
                Me chamo Gustavo, tenho 26 anos.
                Atualmente trabalho como freelancer,
                criando sites, portifólios, sistemas
                na web, etc...
                <br>
                Iniciei como Desenvolvedor web em 2021.
                Desde então venho dedicando parte do meu tempo livre aos estudos. Vejo que estou no caminho certo pois, vejo os resultados que as horas dedicadas trazem.
            </p>
            <div class="especialidades">
                <div class="text-especialidades">
                    <p>Nome: </p>
                    <small>Gustavo Silva</small>
                </div>

                <div class="text-especialidades">
                    <p>Tel: </p>
                    <small>(11) 9 8274 3057</small>
                </div>

                <div class="text-especialidades">
                    <p>Experiência: </p>
                    <small>1 Ano</small>
                </div>

                <div class="text-especialidades">
                    <p>Discord: </p>
                    <small>#5548</small>
                </div>

                <div class="text-especialidades">
                    <p>Idade: </p>
                    <small>27 anos</small>
                </div>

                <div class="text-especialidades">
                    <p>Endereço: </p>
                    <small>São Paulo - SP</small>
                </div>

                <div class="text-especialidades">
                    <p>Freelance: </p>
                    <small>Disponível</small>
                </div>

                <div class="text-especialidades">
                    <p>Linkedin: </p>
                    <a href=""><small>Gustavo</small></a>
                </div>
            </div>
        </div>
    </div>
</main>