<div class="services-footer">
    <div class="content-services">
        <div class="what-i-do">
            <h3>O que eu faço?</h3>
            <h1>Meus serviços</h1>
            <div class="line"></div>
        </div>
        <div class="services-container">
            <div class="services">
                <i class="fa-solid fa-crop"></i>
                <h3>Design Criativo</h3>
                <p>Um design diferente, é essencial para sua marca.</p>
            </div>
            <div class="services">
                <i class="fa-solid fa-tablet-screen-button"></i>
                <h3>Site Responsivo</h3>
                <p>Um site que se adapta a qualquer tipo de despositivo, seja celular, tablet ou computador.</p>
            </div>
            <div class="services">
                <i class="fa-solid fa-globe"></i>
                <h3>Portifólio</h3>
                <p>Tenha um site com sua cara, seu perfil profissional, casual, seus gostos! Você escolhe!</p>
            </div>
        </div>
    </div>
</div>

