<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/purchases.css">
    <title>Purchases (Admin) - Doces Vinn</title>
</head>
<body>

    <section>   

        <div class="setores">
            <a class="btn-page" href="/mercearia">Gustavo</a>
            <a class="btn-page" href="/bolachas">Nilson</a>
            <a class="btn-page" href="/salgados">Fabricio</a>
            <a class="btn-page" href="/balas">Ivana</a>
            <a class="btn-page" href="/bebidas">Prisley</a>
            <a class="btn-page" href="/saudaveis">Francis</a>
            <a class="btn-page" href="/festa">Poly</a>
            <a class="btn-page" href="/doces">Ivan</a>            
        </div>

        <div class="lista">
            <table>
                <h1>
                    Compras - Doces Vinn
                </h1>
                <thead>
                    <tr>
                        <th>Setor</th>
                        <th>Produtos</th>
                    </tr>
                </thead>
                <tbody>                
                    <tr>
                        <td>Bolachas</td>
                        <td>
                            <ul>
                                <li>Bono recheada leite</li>
                                <li>Bono recheada morango</li>
                                <li>Bono recheada limão</li>
                                <li>Bono recheada chocolate</li>
                                <li>Bono recheada mousse</li>
                                <li>Trakinas (sabores)</li>
                                <li>Wafer toddy morango</li>
                                <li>Wafer toddy chocolate</li>
                                <li>Wafer toddy Baunilha</li>
                                <li>Folhata adria</li>
                                <li>Negresco</li>
                                <li>Fazendinha recheada (sabores)</li>
                                <li>Fazendinha wafer (sabores)</li>
                                <li>Vitarella água e sal 400g</li>
                                <li>Vitarella cristal 400g</li>
                                <li>Vitarella maizena 400g</li>
                                <li>Mabel água e sal 400g</li>
                                <li>Mabel cream cracker 400g</li>
                                <li>Prodaza coquinho</li>
                                <li>Wafer dadinho</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>

</body>
</html> 