<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/purchases.css">
    <title>Purchases (Admin) - Doces Vinn</title>
</head>
<body>

    <section>   

        <div class="setores">
            <a class="btn-page" href="/mercearia">Gustavo</a>
            <a class="btn-page" href="/bolachas">Nilson</a>
            <a class="btn-page" href="/salgadinho">Fabricio</a>
            <a class="btn-page" href="/balas">Ivana</a>
            <a class="btn-page" href="/bebidas">Prisley</a>
            <a class="btn-page" href="/saudaveis">Francis</a>
            <a class="btn-page" href="/embalagem">Poly</a>
            <a class="btn-page" href="/doces">Ivan</a>            
        </div>

        <div class="lista">
            <table>
                <h1>
                    Compras - Doces (Ivan)
                </h1>
                <thead>
                    <tr>
                        <th>Produtos</th>
                    </tr>
                </thead>
                <tbody>                
                    <tr>
                        <td>Sem informação</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>

    <section>
        <div>
            <table>
                <h1>
                    Produtos mais vendidos
                </h1>
                <thead>
                    <tr>
                        <th>Produtos</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>                
                    <tr>
                        <td>Produto 1</td>
                        <td>100 unidades</td>
                    </tr>   
                    <tr>
                        <td>Produto 2</td>
                        <td>200 unidades</td>
                    </tr>                   
                </tbody>
            </table>
        </div>
    </section>

    <section>
        <div>
            <table>
                <h1>
                    Produtos menos vendidos
                </h1>
                <thead>
                    <tr>
                        <th>Produtos</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>                
                    <tr>
                        <td>Produto a</td>
                        <td>10 unidades</td>
                    </tr>   
                    <tr>
                        <td>Produto b</td>
                        <td>20 unidades</td>
                    </tr>                   
                </tbody>
            </table>
        </div>
    </section>

    <section class="validades">
        <div>
            <table>
                <h1>
                    Validades
                </h1>
                <thead>
                    <tr>
                        <th>Produtos</th>
                        <th>Quantidade</th>
                        <th>Vencimento</th>
                    </tr>
                </thead>
                <tbody>                
                    <tr>
                        <td>Produto a</td>
                        <td>10 unidades</td>
                        <td>02/10/2021</td>
                    </tr>   
                    <tr>
                        <td>Produto b</td>
                        <td>20 unidades</td>
                        <td>05/10/2021</td>
                    </tr> 
                    <tr>
                        <td>Produto c</td>
                        <td>50 unidades</td>
                        <td>11/10/2021</td>
                    </tr>  
                    <tr>
                        <td>Produto d</td>
                        <td>120 unidades</td>
                        <td>25/10/2021</td>
                    </tr>  
                    <tr>
                        <td>Produto e</td>
                        <td>230 unidades</td>
                        <td>30/10/2021</td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </section>

</body>
</html> 