<%- include('components/header')  %> 

<main>
    
    <img src="" alt="photo">
    <div class="about">
        <h3>Discover</h3>
        <h1>Sobre mim</h1>
        <hr>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat ducimus iste neque voluptates, ea possimus consequatur suscipit ullam recusandae laboriosam sint error minus enim asperiores cum velit veritatis voluptatem consectetur!
        </p>
        <div class="especialidades">
            <p>Nome: </p>
            <small>Gustavo Silva</small>

            <p>Tel: </p>
            <small>(11) 9 8274 3057</small>

            <p>Experiência: </p>
            <small>1 Ano</small>

            <p>Discord: </p>
            <small>#5548</small>

            <p>Idade: </p>
            <small>27 anos</small>

            <p>Endereço: </p>
            <small>São Paulo - SP</small>

            <p>Freelance: </p>
            <small>Disponível</small>

            <p>Linkedin: </p>
            <a href=""><small>Gustavo</small></a>
        </div>
    </div>
</main>

<%- include('components/footer')  %> 