<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('components/header')  %> 

    <article class="apresentation">
      <img src="/images/gustavo silva.jpg" alt="My photo">
      <div>
        <h1>Gustavo Silva</h1>        
        <p>São Paulo, SP</p>
        <p>Estudante de desenvolvimento Web Full Stack <br>na Digital House Brasil, com foco em Node.js.</p>
        <p>Meu Github: <a id="githublink" href="https://github.com/gustagui">https://github.com/gustagui</a></p>
        <div class="buttonAp">
        </div>
      </div>
    </article>
    <article class="about">
      <h1>Sobre mim.</h1>
      <p>
        Olá, sou novo como desenvolvedor e estou estudando na Digital House Brasil.
          Estou procurando emprego para iniciar minha carreira como desenvolvedor, sou curioso, focado e procuro absorver o máximo que posso. No meu trabalho atual não uso minhas habilidades e estou tentando migrar de carreira o quanto antes. Por enquanto é isso. haha 
      </p>
      <h1>Skills</h1>
      <div class="skills">
        <p class="skills-change">Node.js</p class="skills-change">
        <p class="skills-change">Express Js</p class="skills-change">
        <p class="skills-change">JavaScript</p class="skills-change">
        <p class="skills-change">Git</p class="skills-change">
        <p class="skills-change">Html</p class="skills-change">
        <p class="skills-change">CSS</p class="skills-change">
        <p class="skills-change">SCRUM</p class="skills-change">
      </div>
    </article>
    <article class="profile">
      <h1 class="links-profile">Profiles</h1>
        <a class="link-profile" href="https://github.com/gustagui">GitHub</a>
        <a class="link-profile" href="https://www.facebook.com/gustgui95/">Facebook</a>
        <a class="link-profile" href="https://www.linkedin.com/in/gustavo-silva-28016677/">LinkedIn</a>
        <a class="link-profile">E-mail: gustagui.dev@gmail.com</a>
    </article>
  </body>
</html>
