<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/live.css" rel="stylesheet" />
    <title>Harry xP - Live Stream</title>
</head>
<body>    

    <aside id="show">
        <div class="logo">
            <img id="photo" src="images/gustavo silva.jpg" alt="photo">
            <h1>Harry xP</h1>
        </div>
        <div class="nav">
            <a href="#">HOME</a>
            <a href="#">LIVE</a>
            <a href="#">SOBRE MIM</a>
            <a href="#">CONTATO</a>
        </div>
        <small>
            Feito por mim com <3
            <br>
            Meu website
            <br>
            <a href="https://gustagui.com.br/">www.gustagui.com.br</a>
        </small>
    </aside>

    <main>
        <div>
            <img id="menu" src="/images/menu-aberto.png" alt="menu">
        </div>
        <div>
            <div class="about">
                <div class="text-about">
                    <h1>Olá, sou o Gustavo</h1>
                    <p>
                        Moro em São Paulo/SP, tenho 26 anos, meu nick é Harry porque dizem que 
                        <br>
                        pareço o Harry Potter, mas quando estou sem barba haha, sou desenvolvedor web. 
                        <br>
                        <br>
                        Adoro jogos competitivos desde pequeno, meus jogos favoritos eram 
                        <br>
                        GrandChase, Need for speed U2 e yugioh forbidden memories. 
                        <br>
                        Atualmente jogo League of Legends, CS:GO e HearthStone.
                    </p>
                </div>
                <div class="redesSociais">
                    <a href="#">Twitch</a>
                    <a href="#">Twitter</a>
                    <a href="#">Facebook</a>
                    <a href="#">LinkedIn</a>
                </div>
            </div>
       
    </main>

    <!-- <p>Moro em São Paulo/SP, tenho 26 anos, meu nick é Harry porque dizem que pareço o Harry Potter, mas quando estou sem barba haha, sou desenvolvedor web, adoro jogos competitivos desde pequeno, meus jogos favoritos eram GrandChase, Need for speed U2 e yugioh forbidden memories. Atualmente jogo League of Legends, CS:GO e HearthStone.</p> -->


    <script src="/js/live.js"></script>
</body>
</html>