<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/live.css" rel="stylesheet" />
    <title>Harry xP - Live Stream</title>
</head>
<body>
    <main>
        <section class="side-bar">
            <div>
                <h1>Harry xP</h1>
                <small>Live Stream</small>
            </div>
            <div class="links-side-bar">
                <a href="">Home</a>
                <a href="">Jogos</a>
                <a href="">Sorteios</a>
                <a href="">Contato</a>
                <a href="">Sobre mim</a>
                <a href="https://www.twitch.tv/harry_xp">Twitch.tv/harry_xp</a>
            </div>
        </section>

        <section class="conteudo">
            <div>
                <img id="lol-harryxp" src="/images/live/harry-xp.png" alt="harryxp">
                <div class="text">
                    <h1>Olá, me chamo Gustavo!</h1>
                    <p>Moro em São Paulo/SP, tenho 26 anos, meu nick é Harry porque dizem que pareço o Harry Potter, mas quando estou sem barba haha, sou desenvolvedor web, adoro jogos competitivos desde pequeno, meus jogos favoritos eram GrandChase, Need for speed U2 e yugioh forbidden memories. Atualmente jogo League of Legends, CS:GO e HearthStone.</p>
                </div>
                
            </div>
        </section>
    </main>
</body>
</html>