<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/purchases.css">
    <title>Purchases (Admin) - Doces Vinn</title>
</head>
<body>
    
    <section>

        <div class="setores">
            <a class="btn-page" href="/mercearia">Gustavo</a>
            <a class="btn-page" href="/bolachas">Nilson</a>
            <a class="btn-page" href="/salgados">Fabricio</a>
            <a class="btn-page" href="/balas">Ivana</a>
            <a class="btn-page" href="/bebidas">Prisley</a>
            <a class="btn-page" href="/saudaveis">Francis</a>
            <a class="btn-page" href="/festa">Poly</a>
            <a class="btn-page" href="/doces">Ivan</a>            
        </div>

        <div class="lista">
            <h1>
                Compras - Doces Vinn
            </h1>
            <table>
                <thead>
                    <tr>
                        <th>Setor</th>
                        <th>Produtos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mercearia</td>
                        <td>
                            <ul>
                                <li>Orquidea Panko</li>
                                <li>Óleo Liza</li>
                                <li>Café três corações</li>
                                <li>Capuccino café do centro 200g</li>
                                <li>Pêssego em calda</li>
                                <li>Chocolate em pó do padre</li>
                                <li>Itambé doce de leite 800g</li>
                                <li>Café pilão 250g</li>
                                <li>Creme de confeiteiro</li>
                            </ul>
                        </td>               
                    </tr>                
                </tbody>
            </table>
        </div>
        
    </section>
    
</body>
</html>