<%- include('components/header') %> 

    <div class="portfolio-container">
        <h1>Meu Portifólio</h1>
        <div class="cards">
            <div class="card">
                <h3>Logo para empresas</h3>
            </div>
        </div>
    </div>

<%- include('components/footer')  %> 