* {
  padding: 0px;
  margin: 0;
  font:"Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(52, 52, 52);
  color: rgb(202, 197, 197);
  box-sizing: border-box;
}

header div.links-header {
  display: flex;
  margin: 20px;
  font-size: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 800px) {
  header {
    margin-top: 30px;
  }
  header div.links-header{
    flex-wrap: wrap;
    margin: 0px;
    flex-direction: column;
  }
}

header div.links-header {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

header div.links-header a {
  text-decoration: none;
}

a {
  color: rgb(202, 197, 197);
}

.link-header {
  padding: 4px 7px;
  border: 3px solid rgb(52, 52, 52);
  background-color: rgb(52, 52, 52);
}

.link-header:hover {
  border-bottom: 3px solid blue;
}