* {
    padding: 0;
    margin: 0;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 20px;
}

@media (max-width: 800px) {
    section {
        align-items: center;
        flex-direction: column-reverse;
    }
}

a {
    text-decoration: none;
    color: black;
}

.setores {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    width: 150px;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-top: 63px;
}

@media (max-width: 800px) {
    .setores {
        margin-top: 30px;
    }
}

section h1 {
    color: rgb(216, 126, 41);
    margin: 20px;
}

section.table {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lista {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .lista {
        width: 100%;
    }
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid black;
    font-size: 25px;
    padding: 5px;
}

tr {
    border: 1px solid black;

}

td {
    border: 1px solid black;
    padding: 5px;
}

main div {
    text-align: right;
    margin-right: 10%;
}

li {
    list-style: none;
    line-height: 1.5;
}

.btn-page {
    background-color: #8BC0DF;
    width: 100px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    margin: 5px;
}

.btn-page:hover {
    background-color: #66b4e0;
}