body {
  padding: 0px;
  margin: 0px 200px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(52, 52, 52);
  color: #fff;
}

header {
  text-align: center;
  margin: 20px;
  font-size: 20px;
}

header a {
  margin-right: 30px;
  text-decoration: none;
}

a {
  color: #fff;
}
